altgraph==0.16.1
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
dnspython==1.16.0
eventlet==0.25.1
greenlet==0.4.15
idna==2.8
lxml==4.9.1
macholib==1.11
monotonic==1.5
PyQt5==5.13.2
PyQt5-sip==12.7.0
PyQtWebEngine==5.13.2
PySocks==1.7.1
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
tqdm==4.38.0
ultimate-sitemap-parser==0.5
urllib3==1.25.6
XlsxWriter==1.2.5
